.login{
    border: 1px solid black;
    width: 400px;
    height: 500px;
    background: url(https://media.istockphoto.com/id/1402777334/photo/sign-in-and-log-in-3d-rendering-illustration.jpg?s=612x612&w=0&k=20&c=8YdEsriWY8B6LwdDO7BBv9B-jmpQfnsO8Cf1S26BbRQ=) ;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

form{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}

h1{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-bottom: 60px;
}

label{
    color:rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}

input{
    background: rgba(255, 255, 255,0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
}

button{
    background: rgba(45, 126, 231);
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: white;
}

div{
    margin-left: 500px;
}

body{
    background: rgb(202, 230, 223);
    background-size: cover;
}
